#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;    
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightskyblue;
}

#timer{
    font-size:38px; 
}

